.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS for popup windows */
.modal {
  font-size: 18px;
  /* font-family: 'PT Sans Caption', sans-serif; */
  font-family: 'Orbitron', sans-serif;
}
.modal > .header {
  width: 100%;
  border-bottom: 2px solid white;
  font-size: 22px;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: teal;
  /* border-radius: 6px; */
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  background-color: teal;
  /* border-radius: 6px; */
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popup-overlay > .popup-content {
  /* border-radius: 6px; */
  width: auto !important;
  padding: 1px !important;
}

/* .instruction {
  width: 480px;
  height: 113px;
  width: 90%;
  height: 90%
} */

#imageinstruction {
  width: 425px;
  height: 100px;
}

#watermelon {
  width: 425px;
  height: 100px;
}

#cherries {
  width: 425px;
  height: 100px;
}

#kiwi {
  width: 425px;
  height: 100px;
}

#pancakes {
  width: 425px;
  height: 100px;
}

#doughnut {
  width: 425px;
  height: 100px;
}

#shortcake {
  width: 425px;
  height: 100px;
}

#friedshrimp {
  width: 750px;
  height: 100px;
}

#greensalad {
  width: 1012px;
  height: 100px;
}

#frenchfries {
  width: 913px;
  height: 100px;
}

.level_logo {
  width: 300px;
  height: 177px;
  border-radius: 8px;
}
/* End of CSS for popup windows */

/* CSS for game page */
#game-container {
  display: grid;
  grid-template-columns: 2% 14% 14% 13% 14% 13% 14% 14% 2%;
  grid-template-rows: 28px 160px 50px 50px 60px 30px 182px 50px auto;
}

#avatar-holder {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playername-holder {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#orders-holder {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#orders-holder-inner {
  height: 100%;
  width: 90%;
  background-color: orange;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ordername-holder {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trash-holder {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trash-holder-inner {
  height: 100%;
  width: 90%;
  background-color: pink;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trashname-holder {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#serve-holder {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#serve-holder-inner {
  height: 100%;
  width: 90%;
  background-color: lightblue;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#servebutton-holder {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#washer-holder {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#washer-holder-inner {
  height: 100%;
  width: 90%;
  background-color: lightgreen;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#washerbutton-holder {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tips-holder {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tips-holder-inner {
  height: 100%;
  width: 90%;
  background-color: orange;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: 'Exo 2', sans-serif;
  color: rgb(177, 126, 41)
}

#tipsname-holder {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-holder {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-holder-inner {
  height: 100%;
  width: 90%;
  background-color: pink;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: 'Exo 2', sans-serif;
  color: rgb(242, 87, 87)
}

#clockname-holder {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ingredients-holder {
  background-color: pink;
  border-radius: 6px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 8;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

.ingredient-image-cell {
  width: 25%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-image-cell-inner {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.image-tool-cell {
  width: 25%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-tool-cell-inner {
  background-color: white;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.cookspace-cell {
  width: 20%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookspace-cell-inner {
  background-color: lightgreen;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#ingredientsname-holder {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cookspace-holder {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  display: flex;
  justify-content: center;
}

#cookspace-id {
  background-color: green;
  border-radius: 8px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

#cook-button {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cookspacename-holder {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tools-holder {
  background-color: brown;
  border-radius: 6px;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 8;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

#toolsname-holder {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controlpanel-holder {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row: last-line;
  display: flex;
  justify-content: center;
}

#controlpanel-holder1 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row: last-line;
  display: flex;
  justify-content: center;
}

#masterchef-holder {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#masterchef-holder-inner {
  background-color: teal;
  border-radius: 6px;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 24% 1% 75%;
}

#master-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#master-gap {
}

#master-speech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(163, 210, 226);
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.shake {
  animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.shake-master {
  animation: bounce 2s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

#endgame-content {
  display: grid;
  grid-template-columns: 30% 3% 67%;
  grid-template-rows: 160px 20px auto;
}

#endgame-useravatar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

#endgame-gap1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#endgame-userstats {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  color: teal;
  font-family: 'Patrick Hand', cursive;
}

#endgame-gap2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#endgame-master {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: last-line;
  display: grid;
  grid-template-columns: 49% 2% 49%;
}

#endgame-master-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#endgame-master-speech {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: teal;
  font-family: 'Jua', sans-serif;
}

.order-image {
  animation: orders-holder 1s linear;
}
@keyframes orders-holder {
 0%   {
 transform: translateY(-50%);
 }
 100% {
 transform: translateY(0%);
 }
}

/* .ingredient-image {
  animation: ingredients-holder 1s linear;
}
@keyframes ingredients-holder {
 0%   {
 transform: translateY(-50%);
 }
 100% {
 transform: translateY(0%);
 }
} */

/* .image-tool {
  animation: tools-holder 1s linear;
}
@keyframes tools-holder {
 0%   {
 transform: translateY(-50%);
 }
 100% {
 transform: translateY(0%);
 }
} */

/* .order-image {
  opacity: 1;
  animation: fade 2s linear;
}
@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 1 }
} */

.ingredient-image {
  opacity: 1;
  animation: fade 2s linear;
}
@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 1 }
}

.image-tool {
  opacity: 1;
  animation: fade 2s linear;
}
@keyframes fade {
  0% { opacity: 0 }
  50% { opacity: 1 }
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#leaderboard {
  display: grid;
  grid-template-columns: 2% 18% 60% 18% 2%;
  grid-template-rows: auto auto auto auto auto;
}

#leaderboard-logo-holder {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(246, 193, 71);
}

#leaderboard-navbar-holder {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

#leaderboard-leaderboard-holder {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leaderboard-filter-sort-holder {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leaderboard-table-holder {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: last-line;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: teal;
  font-family: 'Jua', sans-serif;
}

#profile-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
}

#profile-page-logo-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(246, 193, 71);
}

#profile-page-navbar-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#profile-page-welcome-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-page-user-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: last-line;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

#instructions-page-mainlogo-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(246, 193, 71);
}

#instructions-page-navbar-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#instructions-page-content-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#levels-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
}

#levels-page-mainlogo-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(246, 193, 71);
}

#levels-page-navbar-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#levels-page-title-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#levels-page-levelcards-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#login-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

#login-page-mainlogo-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(246, 193, 71);
}

#login-page-loginform-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
